{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}

{% if is_granted("ROLE_USER") %}
    <h1>Reservations en cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Etablissement</th>
                <th>Suite</th>
                <th>Début du séjour</th>
                <th>Fin du séjour</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.etablissement }}</td>
                <td>{{ reservation.suite }}</td>
                <td>{{ reservation.dateDeDebut ? reservation.dateDeDebut|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.dateDeFin ? reservation.dateDeFin|date('d-m-Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Réservez ici</a>

{% else %}
    <h3>Veuillez vous connectez pour consultez les reservations</h3>
{% endif %}

{% endblock %}